<!DOCTYPE html>
<html lang="en">

<head>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <style>

        :root {
            --height-header: 75vh;
        }

        .header-container{
            background: rgb(0, 94, 130);
            height: var(--height-header);
 	        /* background:linear-gradient(180deg, #005e82 10%,  #fff); */
           
        }

        .header-photo{
            z-index:1;
            position: relative;
            overflow:hidden;
            height: var(--height-header);
        }
 
        .header-photo:before{
            z-index:-1;
            position: absolute;
            width: 100%;
            content: url('../static/assets/img/bg.png');
            text-align: center;
            opacity: 0.4;
            height: var(--height-header);
            
        }
        
        #text{
            color: white;
        }

        #left{
            text-align: left;
        }

        #right{
            text-align: right;
        }

        #font{
            color: white;
            font-family: Lilita One;
        }

        #font-brand{
            color: white;
            font-family: Lilita One;
        }

    </style>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Trump</title>

    
    <!-- Favicon--> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='assets/favicon.ico')}}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles2.css')}}" rel="stylesheet" />

</head>

<body id="page-top">
    <div class="header-container">
    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav"
           >
            <!-- style="background: rgb(0, 94, 130); width: 100%;" -->

        <div class="container">
            
            <img class="masthead-logo" width="50" height="50"
                src="{{ url_for('static', filename='assets/img/portfolio/logo_white.png')}}" alt="..." />
            <a class="navbar-brand" href="#page-top" style="margin-left: 10px; font-family: Lilita One; text-transform: none; font-size: 280%" 
            style="color: white">TRUMP</a>

            
            
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#page-top" style="color: white">Go
                            up</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        data-toggle="collapse" aria-expanded="false" href="#predict-category" style="color: white" >By
                            text</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" 
                        data-toggle="collapse" aria-expanded="false" href="#predict-media" style="color: white">By
                            link</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
        
    <div class="header-photo">

    
    
    <div class="masthead text-white text-center" >
        <div class="container d-flex align-items-center" >



            <div class="col-lg-12">
                <div style="text-align: center; margin-bottom: 20px; text-shadow: 1px 2px 2px #323131">
                    <h1 class="masthead-heading text-uppercase mb-0" id="font-brand" style="font-size: 500%;">Trump</h1>
                </div>


                <!-- Masthead Subheading-->
                <div style="text-align: center; font-size: 160%; text-shadow: 1px 2px 2px #323131;" id="text">
                    <span id="font">
                        Uncover the truth behind the headlines with our cutting-edge technological platform Trump.
                    </span>
                    <p id="font">
                        Trump detects the political leaning of news articles and media outlets and revolutionizes the way how we approach media profiling.
                    </p>

                </div>


            </div>


        </div>
    </div>
</div> 
</div>
    <div class="container">
        <div class="container">
            <div class="row" style="margin-top: 10px; margin-bottom: 35px;">
                
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block" data-toggle="collapse"
                        data-target="#predict-category" aria-expanded="false" onclick="openFirst()"
                        style="color: black">Predict bias of Article</button>
                </div>

                <div class="col-sm">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block" data-toggle="collapse"
                    data-target="#predict-media" aria-expanded="false" 
                     style="color: black">Predict bias of Media</button>
                </div>

                <div class="col-sm">
                    <button type="button" class="btn btn-outline-info btn-lg btn-block" data-toggle="collapse"
                    data-target="#media-profile" aria-expanded="false" 
                    style="color: black">Media Profile</button>
                </div>

            </div>
        </div>

        <!-- PREDICT BY TEXT -->

        <div class="collapse" id="predict-category" style="margin-bottom: 200px">
            <hr>
            <h2 style="margin-top: 20px;"
                class="page-section-heading text-center text-uppercase text-secondary mb-0">Enter the text of the
                article
            </h2>

            <div class="form-floating mb-3">
                <input class="form-control" type="text" placeholder="Enter your name..." data-sb-validations="required"
                    id="article-title" />
                <label for="name">Title of article</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <div class="form-group" style="margin-top: 20px;">


                <textarea class="form-control" id="article-text" rows="10"
                    placeholder="Content of the article"></textarea>

            </div>
            <button onclick="predictCategory('{{category_url}}')" type="button"
                class="btn btn-primary btn-lg btn-block">Get
                result</button>



            <div class="container" style="margin-top: 20px; font-size:xx-large">
                <div class="col sm">

                    <div id="result" style="text-align: center;">
                        <p> Our model thinks that is <b id="input"></b> article
                        </p>
                    </div>
                </div>

            </div>

        </div>


        <!-- PREDICT BY MEDIA -->

        <div class="collapse" id="predict-media" style="margin-bottom: 20px">
            <hr>
            <h2 style="margin-top: 20px"
                class="page-section-heading text-center text-uppercase text-secondary mb-0">Enter Media website
            </h2>

            <div class="form-floating mb-3">
                <input class="form-control" type="text" placeholder="Enter your name..." data-sb-validations="required"
                    id="media-1" />

                <label for="name">Media website</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <button onclick="predictMedia('{{media_url}}')" type="button"
                class="btn btn-primary btn-lg btn-block">Get result</button>


            <div class="container" style="margin-top: 20px; font-size:xx-large">
                <div class="col sm">

                    <div id="result-2" style="text-align: center;">
                        <p id="input-2">  </p>
                        
                    </div>
                </div>

            </div>

        </div>


        <!-- MEDIA PROFILE -->
        
        <div class="collapse" id="media-profile" style="margin-bottom: 20px">
            <hr>
            <h2 style="margin-top: 20px;"
                class="page-section-heading text-center text-uppercase text-secondary mb-0">Enter Media website
            </h2>

            <div class="form-floating mb-3">
                <input class="form-control" type="text" placeholder="Enter Media website..." data-sb-validations="required"
                    id="media-2" />

                <label for="name">Media website</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Website is required.</div>
            </div>
            <button onclick="predictMediaProfile('{{media_profile_url}}')" type="button"
                class="btn btn-primary btn-lg btn-block">Get result</button>


            <div class="container" style="margin-top: 60px; font-size:xx-large">
                <div class="col md-3" >

                    <div id="result-3" style="text-align: center;">
                        <p id="input-3">  </p>

                        <table class="table table-bordered" id="input-table" >
                            
                        </table>

                        
                        
                    </div>
                </div>

            </div>

        </div>
        



    </div>

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white" style="margin-top: 150px;">
        <div class="container"><small>TRUMP copyright &copy;</small></div>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>

        $(document).ready(function () {
            HidePredict()
        });
        function HidePredict() {
            $("#result").hide();
            $("#result-2").hide();
        }
        
        
    </script>

    <script>
        
        var $buttonFirst  = $('#predict-category');
        var $buttonSecond = $('#predict-media');

        function openFirst(){
            $buttonSecond.collapse('hide');
            console.log("1");
        }
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap core JS-->
    <script src="{{ url_for('static', filename='js/requests.js')}}"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>
